@page "/EditIncome"
@inherits EditIncomeBase

<PageTitle>Новый доход</PageTitle>
<h1>Добавление нового дохода</h1>

<EditForm Model="@NewIncome" OnSubmit="AddIncome" class="row p-3">
    <div class="col-md-12 mb-3">
        <label for="Amount">Сумма</label>
        <InputNumber id="Amount" @bind-Value="NewIncome.Amount" class="form-control" />
    </div>
    @if (Currencies != null)
    {
        <div class="col-md-12 mb-3">
            <InputSelect @bind-Value="NewIncome.CurrencyId" class="form-select">
                <option value="0">Выберите валюту</option>
                @foreach (var currency in Currencies)
                {
                    <option value="@currency.Id">@currency.CurrencyName</option>
                }
            </InputSelect>
        </div>
    }
    @if (CategoryIncomes != null)
    {
        <div class="col-md-12 mb-3">
            <InputSelect @bind-Value="NewIncome.CategoryIncomeId" class="form-select">
                <option value="0">Выберите валюту</option>
                @foreach (var categoryIncome in CategoryIncomes)
                {
                    <option value="@categoryIncome.Id">@categoryIncome.CategoryIncomeName</option>
                }
            </InputSelect>
        </div>
    }
    <div class="col-md-12 mb-3">
        <label for="Date">Дата</label>
        <InputDate id="Date" @bind-Value="NewIncome.Date" class="form-control" />
    </div>
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>


